
@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@model BbmUnderlakare.Models.Pages.StartPage
<h1>
    @Html.PropertyFor(m => m.Header)
</h1>

<div>
    @Html.PropertyFor(m => m.MainBody)
</div>

<div>
    @Html.PropertyFor(m => m.MainArea)
</div>

